/* GLOBAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    /* Cài đặt font chữ web */
    font-family: 'Oswald', sans-serif;
    /* 1rem = 18px */
    /* font-size: 18px; */
    /* nếu không khai báo font-size ở thẻ html : 1 rem =16px*/

}
/* HEADER */
header{
    /* background: black; */
    padding: 20px 0;
    /* position: absolute => làm mất kích thước thẻ */
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
}
.header__content{
    /* Căn giữa nội dung chính */
    width: 70%;
    /* lấy 30% còn trống, auto tự chia đôi, left:15%, right:15% */
    margin: 0 auto;

    /* flexbox */
    display: flex;
    /* justify-content them khoảng cho các thẻ con của flex */
    justify-content: space-around;
    /* align-items căn chỉnh chiều dọc nội dung chữ của thẻ con */
    align-items: center;
}

.header__content p{
    color: white;
    /* font-size: 18px; */
    /* font-size: 32px; */
    font-size: 2rem;
}
.header__content li{
    list-style: none;
    display: inline;
}
.header__content a{
    text-decoration: none;
    color: white;
}

/* CAROUSEL */
.carousel{
    background-image: url(../img/home_slider.jpg);
    background-size: cover;
    background-position: center;
    height: 650px;

    color: white;
    text-align: center;

    /* căn giữa bằng flex */
    /* C1: điều kiện -nếu thẻ cha flex chỉ có 1 con trực tiếp 
    justify-content:center => căn giữa theo chiều ngang
    align-items: center => căn giữa theo chiều docj
    */
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel__content button{
    padding: 10px 20px;
    background-color: #e62b4a;
    border: 1px solid #e62b4a;
    color: white;
    cursor: pointer;

    /* transition-property: background-color;
    transition-duration: 0.8s;
    transition-delay: 0s; */
    /* 1000ms =1s */
    transition: all .8s;
}

.carousel__content button:hover{
    background-color: #af2239;
}
.carousel__arrow i{
	animation: downMove 3s linear 0s infinite ;
	font-size: 3rem;
}

/* SERVICES */
.services{
    padding: 100px 0;
    background-color: gray;
    text-align: center;
}

.services__content{
    width: 70%;
    /* top - right-left - bottom */
    margin: 50px auto 0;
}

.services__slider .item{
    width: 214px;
    height: 230px;
    background-color: white;
    color:#888 ;
    margin: 10px;

    /* Căn giữ bằng flex: 
    C2: nếu flex có nhiều con */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;
}




/* chưa hover (di chuột vào) */
.services__slider .item::before{
    content: '';
    width:5px;
    height: 0;
    background-color: #e62b4a;
    
    position: absolute;
    right:0;
    top:0;

    transition: all .5s;
}

/* đã hover (đã di chuột vào) */
.services__slider .item:hover::before{
    height: 100%;
}


/* .services__slider .item p::before{
   content:'The'; 
}
.services__slider .item p::after{
    content:' !'; 
 } */


/* Xử lý nút tròn khi không có tác động nào */
.services__slider .slick-dots li button{
    background-color:rgb(211, 211, 211);
    border-radius: 50%;
}
.services__slider .slick-dots li button:before{
    color: rgb(211, 211, 211);
}
/* Xử lý nút tròn khi người dùng di chuyển chuột vào (hover) */
.services__slider .slick-dots li:hover button{
    background-color:white;
}
.services__slider .slick-dots li:hover button:before{
    color: white;
}
/* Xử lý nút tròn khi người dùng click */
.services__slider .slick-dots li.slick-active button{
    background-color: #e62b4a;
    border-radius: 50%;
}
.services__slider .slick-dots li.slick-active button:before{
    color: #e62b4a;
}

/* SHOWCASE */
.showcase__content{
    width: 70%;
    margin: auto;

    display: grid;
    /* Khai báo cột của grid */
    /* chỉ dùng khi khai báo các cọt có kích thước khác nhau */
    /* grid-template-columns: 33,33% 33,33% 33,33%; */
    /* repeat(số lượng cột, kích thước của mỗi cột) */
    /* grid-template-columns: repeat(3, 33,33%); */
    /* fr: phân số */
    /* repeat(3, 1fr): xây 3 cột, mỗi cột có kích thước 1/3 */
    /* repeat(4, 1fr): xây 4 cột, mỗi cột có kích thước 1/4 */
    grid-template-columns: repeat(3, 1fr);
    /* Thêm khoảng cách giữa các thẻ con của grid */
    gap: 30px;
}
.showcase__item{
    height: 408px;
	position: relative;
	/* nếu có vùng nào của thẻ con tràn khỏi border 
	của cha thì thẻ cha sẻ che đi vùng đó*/
	overflow: hidden;
}
.showcase__overlay{
	background-color:rgb(230, 43, 74, 0.6);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* trạng thái chưa hover */
	opacity: 0;
	transition: all .5s;
}
.showcase__item:hover .showcase__overlay{
	/* trạng thái đã hover */
	opacity: 1;
}

.showcase__icon{
	position: absolute;
	top: 30px;
	right: 30px;
}
.showcase__text{
	position: absolute;
	left: 30px;
	bottom: 30px;
	/* vị trí chưa hover */
	transform: translateY(50px);
	transition: all .5s;
}
.showcase__item:hover .showcase__text{
	/* vị trí đã hover */
	transform: translateY(0);
}
/* C2 Đổi tính chất thẻ inline -> block */
/* .showcase__icon i {
	display: block;
} */
.showcase__icon{
	display: flex;
	flex-direction: column;
	/* vị trí chưa hover */
	transform: translateY(20px);
	transition: all .5s;
}
.showcase__item:hover .showcase__icon{
	/* vị trí đã hover */
	transform: translateY(0);
}
/* nếu kéo hình theo kích thước thẻ cha thì hình bị méo
 => Solution:
 C1: Dùng hình nền background-image, background-size:cover; (nhược điểm không hỗ trỡ SEO)
 C2: Img (hỗ trợ SEO), object-fit
 */
.showcase__item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%) contrast(0.5);
}
/* BLOG */
.blog__content{
display: grid;
grid-template-columns: repeat(4,1fr,);
}
.blog__item{
	overflow: hidden;
}
.blog__item1{
	/* gôm cột */
	/* C1 */
	/* cách khai báo đường bắt đầu / đường kết thúc */
	/* grid-column: 1/3; */
	/* C2 */
	/* đường bắt đầu / số lượng cột */
	grid-column: 1 / span 2;
	/* grid-column: 1/3; */
	grid-row: 1 / span 2;
	
}
.blog__item10{
	grid-column: 3 / span 2;
	grid-row: 3 / span 2;
}
.blog__item img{
	width: 100%;
	height: 100%;
	/* chưa hover */
	transform: scale(1);
	transition: all .5s;

}
.blog__item:hover img{
	/* đã hover */
	transform: scale(1.2);
}
/* NUMBER */
.number{
	padding: 100px;
	background-color: black;
}
.number__content{
	width: 70%;
	margin: auto;
	text-align: center;
	color: white;
	display: flex;
	justify-content: space-evenly;
}
.number__item{
	width: 25%;
}
.number__item p:first-child{
	font-size: 4rem;
}
.number__item p:last-child{
	color: red;
}


/* EXPERIENCE */
.experience{
	padding: 100px 0;	
	background-image: url(../img/bussiness_img_1.jpg);
	background-size: cover;
	background-attachment: fixed;
}
.experience__content{
	width: 70%;
	margin: auto;
}
.experience__content video, .experience__content iframe{
	width: 100%;
}
/* CONTACT */
.contact__content{
	width: 70%;
	margin: auto;
	display: flex;

}
.contact__map{
	width: 60%;
}
.contact__form{
	width: 40%;
}
.contact__form form{
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
}
.contact__form input{
	padding: 1em;
}
.contact__form textarea{
	padding: 1em;
}
.contact__form input:focus{
	outline: none;
	border: none;
	box-shadow: 0 0 0 0;
}
/* BACK TO TOP */
.backToTop{
	/* thẻ a là inline k xét được kích thước */
	/* đổi tính chất thẻ sang thẻ block */
	display: block;
	width: 80px;
	height: 80px;
	text-align: center;
	line-height: 75px;
	background-color: rgba(0,0,0,0.25);
	color: white;
	font-size: 2rem;
	position: fixed;
	right: 20px;
	bottom: 20px;
	opacity: 0;
	visibility: hidden;
}
.cd-top--is-visible { 
	visibility: visible;
	opacity: 1;
  }
  /* khai báo loạt chuyển động */
	/* from ... to  */
	/* 0% ... 100% */
@keyframes downMove{
	/* Vị trí ban đầu */
	from{
		opacity: 1;
		transform: translateY(0);
	}
	/* Vị trí kết thúc */
	to{
		opacity: 0;
		transform: translateY(50px);
	}
}
@keyframes rotateMove{
	0%{}
	50%{
		transform:translateY(25px) rotate(deg);
	}
	100%{
		transform: translateY(50px) rotate(0deg);
	}
}