/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* BODY */
body {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.clear{
	clear: both;
}
/* HEADER */
.header{
	position: fixed;
	background: transparent;
	left: 0;
	right: 0;
	z-index: 99;
}
.header__logo{
	float: left;
	height: 130px;
	display: table;
  	vertical-align: middle;
}
.header__content{
	padding: 50px;
}
.header__nav, .btn{
	float: right;
}
.header__nav > ul{
	display: flex;
	align-items: center;
}
.header__nav a{
	color: #070120;
}
.header__content nav > ul > li{
	padding: 22px 18px;
	font-size: 1rem;
	font-weight: 700;
	color: #070120;
	font-size: 1rem;
	transition: all .5s;
	cursor: pointer;
}
.header__nav > ul > li > a {
	display: inline-block;
	margin-right: 3px;
  }
.header__nav > ul > li > i {
	display: inline-block;
  }
.header__nav > ul > li:hover > a {
	color: #f55f8d;
	animation: animation__nav 0.5s;
  }

.header__nav li:hover {
	color: #f55f8d;
  }
.btn{
	padding: 1.4rem 1.8rem;
    cursor: pointer;
    border-radius: 50px;
    border: none;
    background-image: linear-gradient(to left, #f55f8d, #f8ae56, #f55f8d);
    color: white;
    font-weight: 700;
    font-size: 1rem;
    transition: all 0.5s;
    background-size: 200%;
}
.btn:hover{
	background-position: right;
}
/* BANNER */
