/* GLOBAL */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,body{
	font-family: 'Oswald', sans-serif;
	/* font-size: 18px; */
	/* nếu không khai báo font-size thì 1rem = 16px */
}
/* HEADER */
header{
	padding: 20px 0;
	/* position: absolute làm mất kích thước thẻ */
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.header__content{
	width: 70%;
	/* lấy 30% còn lại và tự chia đôi left 15% right 15% */
	margin: 0 auto;
	/* flexbox kiếm thằng cha gần nhất*/
	/* lên chung 1 hàng */
	display: flex; 
	/* justify-content thêm khoảng trắng cho các thẻ con của flex */
	justify-content: space-around;
	/* align-items: căn chỉnh chiều dọc nội dung chữ của thẻ */
	align-items: center;
}
.header__content p{
	color: white;
	font-size: 2rem;
}
.header__content li{
	list-style: none;
	display: inline;
}
.header__content a{
	text-decoration: none;
	color: white;
	
}
/* CAROUSEL */
.carousel{
	background-image: url(../img/home_slider.jpg);
	background-size: cover;
	background-position: center;
	height: 650px;
	text-align: center;
	color: white;
	/* căn giữa bằng flex */
	/* c1: nếu thẻ cha flex chỉ có 1 con trực tiếp 
	justify-content =>> căn giữa theo chiều ngang
	align-items =>> căn giữa theo chiều dọc*/
	display: flex;
	justify-content: center;
	align-items: center;
}
.carousel__content button{
	padding: 10px 20px;
	background-color: #e62b4a;
	border: 1px solid #e62b4a;
	color: white;
	cursor: pointer;
	transition: all 0.5s;
}
.carousel__content button:hover{
	background-color: #af2249;
}